{{ define "head" }}
{{ end }}
{{ define "main" }}
    <div class="fullheight-wrapper">
        <div class="navbar">
            <ul>
                {{ with .Sites.First.GetPage "/subscribe" }}
                    <li><a class="navlink subscribe" href="{{ .RelPermalink }}">Subscribe</a></li>
                {{ end }}
                {{ with .Site.Home }}
                    <li><a class="navlink" href="{{ .RelPermalink }}">List</a></li>
                {{ end }}
            </ul>
            {{ partial "legal.html" . }}
        </div>
        <div id="postmap" class="map postmap">
            {{ range where .Site.RegularPages "Type" "posts" }}
                {{ if isset .Params "map" }}
                <div data-loc="[{{ .Params.map }}]">
                    <template>
                         {{ .Render "thumbnail" | safeHTML }}
                         <a href="{{ .RelPermalink }}">{{ .Render "thumbdesc" | safeHTML }}</a>
                    </template>
                </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
