{{ define "head" }}
{{ end }}
{{ define "main" }}
    <div class="fullheight-wrapper">
        <div class="navbar">
            {{ with .Sites.First.GetPage "/subscribe" }}
                <a class="navlink subscribe" href="{{ .RelPermalink }}">Subscribe</a>
            {{ end }}
            {{ partial "legal.html" . }}
        </div>
        <div id="postmap" class="map postmap">
            {{ range where .Site.RegularPages "Type" "posts" }}
                {{ if isset .Params "map" }}
                    <div data-loc="[{{ .Params.map }}]"
                         data-html="
                             {{ .Render "thumbnail" | htmlEscape | safeHTML }}
                             &lt;a href=&quot;{{ .RelPermalink }}&quot;&gt;{{ .Render "thumbdesc" | htmlEscape | safeHTML }}&lt;/a&gt;"></div>
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}
