@import "mixins.scss";

.icon-btn {
    font-size: 6rem;
    text-align: center;
}

.navlink {
    @include block-link;
    font-weight: bold;
    padding: 0 8px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.subscribe {
    @include block-link;

    text-transform: uppercase;
}

.icon-card {
    display: flex;
    width: 600px;
    max-width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;

    .icon-btn {
        display: block;
        margin-top: -0.0625em;
        margin-right: 24px;
    }

    .content {
        :first-child {
            margin-top: 0px;
        }
        flex: 1;
        min-width: 300px;
    }

    p, ul {
        width: auto;
        max-width: none;
        box-sizing: content-box;
    }
}
