.title-screen {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

    .navbar {
        border: none;
    }

    .title {
        display: block;
        position: absolute;
        bottom: 33%;
        width: 100%;
        left: 0;
        z-index: 1;

        color: #fff;
        text-align: center;

        h1 {
            width: auto;
            max-width: none;
            font-size: 4vw;
            @media (max-width: 600px) {
                font-size: 24px;
            }
            @media (min-width: 1600px) {
                font-size: 64px;
            }
            text-shadow: 2px 2px 4px #000;
            margin-bottom: 32px;
            overflow-wrap: break-word;
            hyphens: auto;
        }

        .box {
            background-color: rgba(0, 0, 0, 0.6);
            display: inline-block;
            padding: 16px;
            border-radius: 4px;
        }

        p {
            width: auto;
            max-width: none;
            margin: 0;
        }
    }

    .scroll-down {
        color: rgba(0, 0, 0, 0.6);
        font-size: 6rem;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 75%;
        z-index: 0;
    }
}
