<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        {{ block "title" . }}
            <title>{{ .Site.Title }}</title>
        {{ end }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $style := $sass | resources.ToCSS (dict "targetPath" "main.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
        {{ readFile "/assets/meta.html" | safeHTML }}
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        {{ block "head" . }}
            <meta property="og:url" content="{{ .Permalink }}" />
            <meta property="og:type" content="website" />
            <meta property="og:title" content="{{ .Title }}" />
            <meta property="og:description" content="Jan's blog about adventures experienced outdoors and while travelling." />
            <meta name="description" content="Jan's blog about adventures experienced outdoors and while travelling." />
        {{ end }}
        {{ partial "script.main.js.html" . }}
    </head>
    <body>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
    </body>
</html>
