<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ $sass := resources.Get "sass/main.scss" }}
        {{ $style := $sass | resources.ToCSS (dict "targetPath" "main.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
        {{ readFile "/assets/meta.html" | safeHTML }}
        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}
        {{ block "head" . }}
        {{ end }}
        <script src="{{ "%SCRIPT%" | relURL }}"></script>
    </head>
    <body>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
    </body>
</html>
