<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <!-- TODO meta -->
    </head>
    <body>
        <main>
            {{ range .Pages }}
                <article>
                    <div class="title-screen">
                        <div class="title" style="background-image: url(images/{{ .Params.background }});">
                            <h1>{{ .Title }}</h1>
                            <p class="meta">May 20, 2018, Rockies</p>
                        </div>
                    </div>
                    <!--<p>Ich bin etwas früher als die meisten anderen wach, verlasse das Zelt und befinde mich sofort in einem großartigen Bergpanorama. Wenn man nur jeden Tag so aufstehen könnte …</p>-->
                    <!--<img src="001.jpg" />-->
                    <!--<p>Nach einer kurzen Katzenwäsche am nahe gelegenen Flüsschen, geht es ans zusammenpacken.</p>-->
                    <!--<img src="002.jpg" />-->
                    <!--<p>Wir müssen zudem einen der Vans etwas umkonfigurieren, da damit heute zwei weitere Personen transportiert werden, da Liam das Auto nimmt um Darren zu einer Klinik zu fahren, da seine Lippen stark geschwollen sind, nicht gut aussehen und schmerzen. Wir erfahren später, dass es sich um einen Sonnenbrand handelt.</p>-->
                    <!--<p>Frühstück haben wir heute nicht am Campingplatz, sondern einem Aussichtspunkt nahe der Crescent Falls.</p>-->
                    <!--[> map location <]-->
                    <!--<div class="vertical">-->
                        <!--<img src="003.jpg" />-->
                        <!--<img src="004.jpg" />-->
                    <!--</div>-->
                </article>
            {{ end }}
        </main>
    </body>
</html>
