<div class="navbar">
    <ul>
        {{ with .Sites.First.GetPage "/subscribe" }}
            <li><a class="navlink subscribe" href="{{ .RelPermalink }}">Subscribe</a></li>
        {{ end }}
        {{ with .Sites.First.GetPage "/map" }}
            <li><a class="navlink" href="{{ .RelPermalink }}">Map</a></li>
        {{ end }}
    </ul>
    <ol>
        {{ $active := .Name }}
        {{ range .Site.Taxonomies.year.Alphabetical.Reverse }}
            <li>
                {{ if eq $active .Name }}
                    <a class="navlink selected" href="{{ $.Site.Home.RelPermalink }}">{{ .Name }}</a>
                {{ else }}
                    <a class="navlink" href="{{ "/year/" | relLangURL }}{{ .Name }}">{{ .Name }}</a>
                {{ end }}
            </li>
        {{ end }}
    </ol>
    {{ partial "legal.html" . }}
</div>
