{{ define "head" }} {{ end }} {{ define "main" }} {{ partial "navbar.html" . }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 20 }}
<ol class="postlist">
  {{ range $paginator.Pages }} {{ partial "postcard.html" . }} {{ end }}
</ol>
<div class="pagination">
  {{ if $paginator.HasPrev }}
  <a class="button prev" href="{{ $paginator.Prev.URL }}"
    ><i class="fas fa-chevron-left"></i>&nbsp;Newer posts</a
  >
  {{ end }} {{ if $paginator.HasNext }}
  <a class="button next" href="{{ $paginator.Next.URL }}"
    >Older posts&nbsp;<i class="fas fa-chevron-right"></i
  ></a>
  {{ end }}
</div>
{{ end }}
