{{ define "head" }}
{{ end }}
{{ define "main" }}
    <div class="navlink subscribe"><a href="{{ relref . "subscribe" }}">Subscribe</a></div>
    <ol class="postlist">
        {{ range where .Pages "Section" "posts" }}
            <a href="{{ .RelPermalink }}"><li>
                <div class="headline">{{ .Title }}</div>
                <ul class="meta">
                    <li>{{ .Date.Format "January 2, 2006" }}</li>
                    <li><ol class="comma">
                        {{ with .Params.categories }}
                            {{ range sort . }}
                                <li>{{ . }}</li>
                            {{ end }}
                        {{end}}
                    </ol></li>
                    <li>{{ .ReadingTime }} minute read</li>
                </ul>
            </li></a>
        {{ end }}
    </ol>
{{ end }}
