{{ $img := index (.Page.Resources.Match (printf "images/%s" (.Get "src"))) 0 }}
{{ $imgLowRes := $img.Resize (printf "%dx" (div $img.Width 2)) }}
<div class="pano" style="height: {{ div $img.Height 2 }}px;">
    <div class="pano-scroll">
        <div class="dynload">
            <template>
                <img src="{{ $imgLowRes.RelPermalink }}"
                     srcset="{{ $imgLowRes.RelPermalink }} 1x, {{ $img.RelPermalink }} 2x"
                     sizes="{{ div $img.Width 2 }}px"
                     alt="{{ .Get "alt" }}" />
            </template>
        </div>
    </div>
    <div class="scroll-left">
        <i class="fas fa-chevron-left"></i>
    </div>
    <div class="scroll-right">
        <i class="fas fa-chevron-right"></i>
    </div>
    {{ with .Get "caption" }}
        <div class="caption">{{.}}</div>
    {{ end }}
</div>
