{{ $img := index (.Page.Resources.Match (printf "images/%s" (.Get "src"))) 0 }}
<div class="pano" style="height: {{ $img.Height }}px;">
        <div id="rimg-dynload-{{ .Ordinal }}" class="dynload">
        </div>
        <script>
            joa.registerDynLoad('rimg-dynload-{{ .Ordinal }}', 
                '<source srcset="{{ ($img.Resize "320x").RelPermalink }}" media="(max-width: 320px) and (max-resolution: 1dppx)" />'
                + '<source srcset="{{ ($img.Resize "640x").RelPermalink }}" media="(max-width: 640px) and (max-resolution: 1dppx), (max-width: 320px) and (max-resolution: 2dppx)" />'
                + '<source srcset="{{ ($img.Resize "1280x").RelPermalink }}" media="(max-width: 1280px) and (max-resolution: 1dppx), (max-width: 640px) and (max-resolution: 2dppx), (max-width: 320px) and (max-resolution: 3dppx)" />'
                + '<img src="{{ $img.RelPermalink }}" alt="{{ .Get "alt" }}" />'
            );
        </script>
        {{ with .Get "caption" }}
            <div class="caption">{{.}}</div>
        {{ end }}
    </a>
</div>
