{{ $img := index (.Page.Resources.Match (printf "images/%s" (.Get "src"))) 0 }}
{{ $aspectRatio := div (float $img.Width) $img.Height }}
<div class="picture" style="height: calc((100vw - 64px) / {{ $aspectRatio }});">
    <a href="{{ $img.RelPermalink }}" title="View fullsize">
        <div class="dynload"
            data-html="
                &lt;source srcset=&quot;{{ ($img.Resize "320x").RelPermalink }}&quot; media=&quot;(max-width: 320px) and (max-resolution: 1dppx)&quot; />
                &lt;source srcset=&quot;{{ ($img.Resize "640x").RelPermalink }}&quot; media=&quot;(max-width: 640px) and (max-resolution: 1dppx), (max-width: 320px) and (max-resolution: 2dppx)&quot; />
                &lt;source srcset=&quot;{{ ($img.Resize "1280x").RelPermalink }}&quot; media=&quot;(max-width: 1280px) and (max-resolution: 1dppx), (max-width: 640px) and (max-resolution: 2dppx), (max-width: 320px) and (max-resolution: 3dppx)&quot; />
                &lt;img src=&quot;{{ $img.RelPermalink }}&quot; alt=&quot;{{ .Get "alt" }}&quot; />"
        ></div>
        {{ with .Get "caption" }}
            <div class="caption">{{.}}</div>
        {{ end }}
    </a>
</div>
