{{ $img := index (.Page.Resources.Match (printf "images/%s" (.Get "src"))) 0 }}
{{ $aspectRatio := div (float $img.Width) $img.Height }}
<div class="picture"{{ if not .Parent }} style="height: calc((100vw - 64px) / {{ $aspectRatio }});"{{ end }}>
    <a href="{{ $img.RelPermalink }}" title="View fullsize">
        <div class="dynload"{{ with .Parent }} style="height: {{ with .Get "large" }}80{{ else }}45{{ end }}vh;"{{ end }}>
            <template>
                <img src="{{ ($img.Resize "320x").RelPermalink }}" alt="{{ .Get "alt" }}" srcset="{{ ($img.Resize "320x").RelPermalink }} 320w, {{ ($img.Resize "640x").RelPermalink }} 640w, {{ ($img.Resize "1280x").RelPermalink }} 1280w, {{ $img.RelPermalink }} {{ $img.Width }}w" {{ with .Parent }}style="width: calc({{ with .Get "large" }}80vh{{ else }}45vh{{ end }} * {{ $aspectRatio }});" {{ end }} sizes="{{ with .Parent }}calc({{ with .Get "large" }}80vh{{ else }}45vh{{ end }} * {{ $aspectRatio }}){{ else }}100vw{{end}}" />
            </template>
        </div>
        {{ with .Get "caption" }}
            <div class="caption">{{.}}</div>
        {{ end }}
    </a>
</div>
